#container {
    display: flex;
}

body{
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav article"
        "footer footer footer";
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
}

header {
    color: white;
    text-align: center;
    background-color: #474744;
    padding-bottom: 5px;
}

footer {
    color: white;
    background-color: #343330;
    text-align: center;
    padding: 20px;
}

section {
    background-color: #FCF7F8;
    font-family: arial, Arial, Helvetica, sans-serif;
}

aside {
    background-color: rgba(50, 70, 15, 0.747);
    color: white;
    /*padding: 20px;
    flex: 0.3;*/
}

.profpic {
    border-radius: 80%;
    border: 5px solid rgb(177, 97, 31);
    margin-top: 10px;
    margin-bottom: 0px;
}

.intro {
    padding-bottom: 10px;
}

article {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    /*flex: 2; */
}

.section-header {
    padding-top: 10px;
}

.menu-list {
    padding-left: 0px;
    list-style: none;
}

.indent {
    padding-left: 20px;
    text-align: justify;
}

.eng {
    padding-left: 20px;
    text-align: justify;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/001/272/191/small/mobile-technology-and-engineering-background.jpg');
    background-color:  #cec6c8 ;
}

@keyframes animatedLogo {
    0% {border-radius: 0%;}
    20% {border-radius: 30%;
        transform: translateY(-10px);}
    40% {border-radius: 60%;
        filter: hue-rotate(45deg);
        transform: translateY(-15px);}
    60% {border-radius: 90%;
        filter: hue-rotate(90deg);
        transform: translateY(-10px);}
    80% {border-radius: 60%;
        filter: hue-rotate(135deg);
        transform: translateY(-5px);}
    100% {border-radius: 10%;
        filter: hue-rotate(180deg);}
}

.animationDiv{
    width: 30px;
    height: 30px;
}

.imgLogo:hover{
    width: 30px;
    height: 30px;
    animation-name: animatedLogo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*@media only screen and (min-width: 600px) {
    article {background-color: lavender;}
}

@media only screen and (min-width: 768px) {
    article {background-color:palegoldenrod;}
}

@media only screen and (min-width: 992px) {
    article {background-color: ghostwhite;}
}

@media only screen and (min-width: 1200px) {
    article {background-color:#cec6c8 ;}
}*/