#container {
    display: flex;
}

body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
}

header {
    color: white;
    text-align: center;
    background-color: #474744;
    padding-bottom: 5px;
}

footer {
    color: white;
    background-color: #343330;
    text-align: center;
    padding: 20px;
}

section {
    background-color: #FCF7F8;
    font-family: arial, Arial, Helvetica, sans-serif;
}

.menu {
    background-color: rgba(50, 70, 15, 0.747);
    color: white;
    padding: 20px;
    flex: 0.3;
}

.profpic {
    border-radius: 80%;
    border: 5px solid rgb(177, 97, 31);
    margin-top: 10px;
    margin-bottom: 0px;
}

.intro {
    padding-bottom: 10px;
}

article {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    flex: 2;
}

.section-header {
    padding-top: 10px;
}

.menu-list {
    padding-left: 0px;
}

.indent {
    padding-left: 20px;
    text-align: justify;
}